<a href="https://colab.research.google.com/github/iimezzing/BigDataStudy/blob/main/1_3_%EC%9E%91%EC%97%85_1%EC%9C%A0%ED%98%95_03_%EC%9B%94%EB%93%9C%EC%BB%B5_%EC%B6%9C%EC%A0%84%EC%84%A0%EC%88%98_%EA%B3%A8%EA%B8%B0%EB%A1%9D_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

**Q21. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라**

In [2]:
target = df.groupby(['Country']).sum().sort_values('Goals', ascending=False).head()
target['Goals']

Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115
Name: Goals, dtype: int64

**Q22. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라**

In [3]:
target = df.groupby(['Country']).size().sort_values(ascending=False).head()
target

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

**Q23. Year 컬럼은 년도-년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라**

In [4]:
df['yearLst'] = df.Years.str.split('-')

def a(x):
    for i in x:
        if len(str(i)) !=4:
            return False
    return True

df['check']=df['yearLst'].apply(a)

Ans = len(df[df['check']==False])
Ans

45

**Q24. Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이)**

In [11]:
df2=df[df['check']==True].reset_index(drop=True)
len(df2)

1250

**Q25. 월드컵 출전횟수를 나타내는 'LenCup'컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라**

In [38]:
df2
df2['LenCup']=df2['yearLst'].str.len()
print(df2['LenCup'].value_counts()[4])

16

**Q26. Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라**

In [43]:
len(df2[(df2['LenCup']==2) & (df2['Country']=='Yugoslavia')])

7

**Q27. 2002년도에 출전한 전체 선수는 몇명인가?**

In [48]:
len(df2[df2['Years'].str.contains('2002')])

156

**Q28. 이름에 'carlos' 단어가 들어가는 선수의 숫자는 몇 명인가? (대,소문자 구분x)**

In [77]:
len(df2[df2['Player'].str.lower().str.contains('carlos')])

,Player,Goals,Years,Country,yearLst,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,4
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True,2
3,Just Fontaine,13,1958,France,[1958],True,1
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True,4
...,...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,[1962],True,1
1246,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True,2
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True,1
1248,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True,1
1249,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True,2

**Q29. 월드컵 출전횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?**

In [87]:
df2[df2['LenCup']==1].sort_values('Goals', ascending=False)['Player'].values[0]

'Just Fontaine'

**Q30. 월드컵 출전횟수가 1회뿐인 선수들이 가장 많은 국가는 어디인가?**

In [88]:
df2[df2['LenCup']==1]['Country'].value_counts().index[0]

'Brazil'